body{
    background-color: white;
    font-size: 18px;
}

button {
    font-size: 18px;
    border-radius: 10px;
}

select {
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    background-color: gray;
}

.nav_link {
    font: menu;
    font-size: 22px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.blog {
   background-color: gray;
   border-radius: 10px;
   margin: 10px;
}

.titl{
  font-style: italic;
}

.bod {
  font-size: 24px;
}

.comp {
}